@import '~css/public.scss';

.UnitInput{
    width: 100%;
    padding: 10px 20px;
    height: 50px;
    line-height: 30px;
    border: 1px solid $minor;
    position: relative;
    &.name{
        padding-left: 100px;
    }
    &.unit{
        padding-right: 100px;
    }
    &.errorHint{
        border-color: #ff0000;
    }
    input{
        float: left;
        width: 100%;
        height: 100%;
        border: none!important;
        font-size: 14px;
    }
    em{
        width: 100px;
        height: 100%;
        padding: 10px 20px;
        position: absolute;
        left: 0;
        top: 0;
    }
    i{
        padding: 0 2px;
        height: 100%;
        line-height: 50px;
        color: $minor;
        font-size: 16px;
        position: absolute;
        right: 80px;
        top: 0;
        z-index: 10;
    }
    span{
        height: 100%;
        padding: 10px 20px;
        position: absolute;
        right: 0;
        top: 0;
    }
}