.Tip{
    display: inline-block;
    position: relative;
    i{
        padding: 0 10px;
        font-size: 14px;
        color: #999;
    }
    .TipText{
        width: 240px;
        padding: 5px 20px;
        line-height: 20px;
        border-radius: 5px;
        background-color: #555;
        color: #fff;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
        transform: translate3d(0,-100%,0);
        transform: -webkit-translate3d(0,-100%,0);
        opacity: 1;
        .triangle{
            border: 10px solid transparent;
            border-top-color: #555;
            position: absolute;
            left: 18px;
            bottom: -16px;
        }
    }
    &.active .TipText{
        top: -10px;
        transition: opacity 1s linear 3s;
        opacity: 0;
        z-index: 100;
    }
}