@import '~css/public.scss';

.ExchangeNoticeDetail{
    .Container{
        background-color: #fff!important;
    }

    .dataWrap{
        width: 100%;
        padding: $padding2;
        background-color: #fff;
        .title{
            width: 100%;
            h3{
                width: 100%;
                padding: 10px 0;
                line-height: 20px;
                font-size: 16px;
            }
            h4{
                width: 100%;
                line-height: 20px;
            }
        }

        .hint{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            line-height: 20px;
            background-color: $pageBg;
            >a{
                padding: 0 2px;
                color: $main;
            }
        }
    }
}