@import '~css/public.scss';

.DefaultImage{
    width: 100%;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    padding-top: 220px;
    height: 100%;
    text-align: center;
    background: transparent url('') no-repeat center 100px;
    background-size: 100px;
    position: relative;
    left: 0;
    top: 0;
    z-index: 100;
    display: none;
    &.insert{
        border-top: none;
        padding-top: 160px;
        padding-bottom: 80px;
        background-color: #fff;
        background-position: center 80px;
        background-size: 80px;
        position: relative;
    }
    &.active{
        display: block;
    }
    .DefaultImageHint{
        color: $minor;
    }
}