@import '~css/public.scss';

.Container{
    width: 100%;
    border-top: 40px solid transparent;
    border-bottom: 50px solid transparent;
    padding: 0 $padding2;
    margin: 0 auto;
    background-color: $bg;
    position: relative;
    @media all and (min-width:376px){
        width: 375px;
    }
}

