@import '~css/public.scss';

.NavHeader{
    width: 100%;
    padding: 0 50px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    text-align: center;
    .goBack{
        width: 50px;
        padding-left: $padding2;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        i{
            float: left;
            color: $minorText;
            font-size: 16px;
        }
    }
    a{
        display: inline-block;
        height: 100%;
        margin: 0 15px;
        color: $mainText;
        border-bottom: 2px solid transparent;
        font-size: 16px;
        &.active{
            color: $main;
            border-bottom-color: $main;
        }
    }
}