@import '~css/public.scss';

.Header{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    .HeaderText{
        width: 100%;
        padding: 0 50px;
        height: 100%;
        text-align: center;
        left: 0;
        top: 0;
        position: absolute;
        color: $mainText;
        font-weight: bold;
    }
    .goBack{
        width: 50px;
        padding-left: $padding2;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        i{
            float: left;
            color: $minorText;
            font-size: 16px;
        }
    }
    .rightItem{
        min-width: 50px;
        padding-right: $padding2;
        height: 100%;
        font-size: 12px;
        color: $mainText;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10;
        a{
            display: block;
            height: 100%;
        }
        i{
            float: right;
            font-size: 12px;
            color: $mainText;
            &.iconfont{
                font-size: 16px;
            }
        }
    }
}