@import '~css/public.scss';

.form-input>.left-icon{
  padding-left:60px;
}
.form-input {
  position:relative;
  input {
    width:100%;
    height:50px;
    padding-left:10px;
    border:0!important;
    border-bottom: 1px solid $minor!important;
    box-sizing:border-box;
    font-size:14px;
  }
  .error-hint {
    border : 1px solid $sell!important;
  }
  .left-icon{
    padding-left:60px;
  }
  .icon-wrap{
    position:absolute;
    top:50%;
    left:0;
    display: block;
    width:52px;
    height:20px;
    border-right:1px solid $minor;
    margin-top:-10px;
    display:flex;
    justify-content: center;
    align-items : center;
    .iconfont {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:15px;
      color:$main;
    }

  }
  .icon-right {
    position:absolute;
    right:0;
    top:0;
    height:50px;
    display:flex;
    align-items: center;
    .iconfont {
      color:$minor;
      font-size: 16px;
      margin-right:8px;
    }
  }
  .icon-B-Copy6 {

  }
}
