@import '~css/public.scss';

.ProgramaDetail{
    .Container{
        background-color: #fff!important;
    }

    .dataWrap{
        width: 100%;
        padding: $padding2;
        background-color: #fff;
        .title{
            width: 100%;
            line-height: 24px;
            text-align: center;
            font-size: 18px;
            margin-bottom: 20px;
        }
        .subhead{
            line-height: 20px;
            color: $minorText;
            font-size: 12px;
            em{
                margin: 0 10px;
            }
            b{
                float: right;
            }
        }
    }
}