@import '~css/public.scss';

.Headline{
    .navWrap{
        width: 100%;
        padding: $padding2;
        margin-bottom: 10px;
        background-color: #fff;
        .nav{
            width: 100%;
            background-color: #fff;
            overflow: hidden;
            border-radius: 5px;
            @include shadow1;
            >a{
                float: left;
                width: 25%;
                padding: 10px 0;
                padding-top: 50px;
                line-height: 20px;
                text-align: center;
                font-size: 12px;
                background: url('../../../images/icon/icon1.png') no-repeat center 10px;
                background-size: 36px;
                &:nth-of-type(2){
                    background: url('../../../images/icon/icon1.png') no-repeat 45px 12px,url('../../../images/icon/icon1.png') no-repeat center 10px;
                    background-size: 24px,36px;
                }
                &:nth-of-type(3){
                    background-image: url('../../../images/icon/icon1.png');
                }
                &:nth-of-type(4){
                    background-image: url('../../../images/icon/icon1.png');
                    background-size: 30px;
                }
            }
        }
    }
    .DefaultImage{
        padding-top: 120px;
        background-position: center 10px;
    }
}